---
---

@import "{{ site.theme }}";

header {
  width:100%;
  float:left;
  position:absolute;
  -webkit-font-smoothing:subpixel-antialiased;
}

section {
  padding-bottom:50px;
}


footer {
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}
