---
---

@import "{{ site.theme }}";

header {
  float:left;
  -webkit-font-smoothing:subpixel-antialiased;
}

section {
  padding-bottom:50px;
}


footer {
  float:left;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}
